[Desktop Entry]
Name=Kalkulačka
Categories=Utility;Calculator;
Keywords=calculation;arithmetic;scientific;calculator;kalkulacka;kalkulačka;
Exec=kalkulacka
Icon=/usr/share/pixmaps/kalkulacka.png
Terminal=false
Type=Application
X-KDE-StartupNotify=false
